  <p id="notice"><%= notice %></p>

  <h1>Blogs</h1>

  <div class="ui basic segment items">
    <% @blogs.each do |blog| %>
      <div class="item">
        <div class="content">
          <div class="header"><%= blog.title %></div>
          <div class="description"><%= blog.content %></div>
          <div class="extra">
            Created at: <%= @tz.utc_to_local(blog.created_at).strftime('%Y-%m-%d %H:%M:%S') %>.
            Updated at: <%= @tz.utc_to_local(blog.updated_at).strftime('%Y-%m-%d %H:%M:%S') %>.<br />
            <%= link_to 'Show', blog %>
            <%= link_to 'Edit', edit_blog_path(blog) %>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
    <% end %>
  </div>


  <%= link_to 'New Blog', new_blog_path %>
